
<div class="drop"></div>
<div class="dropdown" *ngFor="let data of list" >
  <button class="dropbtn1">{{data.name}}</button>
  <div class="dropdown-content dropdown11" >
    <samp class="hh-arrow  hh-arrow1">▲</samp>
    <!-- <ng-container *ngFor="let d of data.play">
      <a href="#">link {{d}}</a>
    </ng-container> -->
  </div>
</div>



<!-- <div class="dropdown" *ngFor="let data of list">
  <button class="dropbtn dropbtn1">{{data.name}}</button>
  <div class="dropdown-content dropdown11 ">
    <samp class="hh-arrow hh-arrow1">▲</samp>
    <ng-container *ngFor="let d of data.list">
      <a href="#">link {{d}}</a>
    </ng-container>
  </div>
</div>

<div class="dropdown" *ngFor="let data of list">
  <button class="dropbtn dropbtn2">{{data.name}}</button>
  <div class="dropdown-content dropdown12 ">
    <samp class="hh-arrow  hh-arrow2">▲</samp>
    <ng-container *ngFor="let d of data.list">
      <a href="#">link {{d}}</a>
    </ng-container>
  </div>
</div>

<div class="dropdown" *ngFor="let data of list">
  <button class="dropbtn dropbtn3">{{data.name}}</button>
  <div class="dropdown-content dropdown13">
    <samp class="hh-arrow hh-arrow3">▲</samp>
    <ng-container *ngFor="let d of data.list">
      <a href="#">link {{d}}</a>
    </ng-container>
  </div>
</div> -->

<div><img src="https://www.avvatta.com:8100/avvata/public/uploads/newverticalbanners/ELearning.webp" width="100%"></div>
